.one-source {
  &-os-form-item-base {
    &.label-align-left {
      > .ty-ant-form-item-label {
        label {
          justify-content: flex-start;
        }
      }
    }

    .ty-ant-form-item-label {
      label {
        justify-content: flex-end;
        width: 100%;
      }
    }

    /** 只读状态下的样式 */
    &.readonly-form-item {
      .ty-ant-form-item-label {
        .os-form-item-title {
          color: #707070;
        }
      }
    }
  }
}
